# Libraries

In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-0.26.1-cp37-none-manylinux1_x86_64.whl (67.4 MB)
     |████████████████████████████████| 67.4 MB 78 kB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.26.1

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from catboost import CatBoostRegressor
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score 
from scipy import stats
pd.set_option('display.max_rows', 500)

# Importing Datasets

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/Data Science Magic/Projects/Housing Prices Competition/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Data Science Magic/Projects/Housing Prices Competition/test.csv')

In [ ]:
train.shape, test.shape

((1460, 81), (1459, 80))

In [ ]:
train

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

# Dropping Outliers

In [ ]:
train.drop(train[(train['GrLivArea']>4000) & (train['SalePrice']<300000)].index, axis=0 ,inplace=True)

In [ ]:
train.shape

(1458, 81)

# Combining Datasets

In [ ]:
temp = pd.concat([train, test]).reset_index(drop=True)

In [ ]:
temp.shape

(2917, 81)

# Capturing target variable, aswell as ID columns (Won't be used in testing)

In [ ]:
train_ID = train['Id']
test_ID = test['Id']
y = train['SalePrice']

# Feature Engineering

In [ ]:
temp['Total_Sqft'] = temp['TotalBsmtSF'] + temp['1stFlrSF'] + temp['2ndFlrSF']

# Features for Website

In [ ]:
temp = temp[['Total_Sqft', 'OverallQual', 'Neighborhood', 'BsmtQual','MSSubClass']]

In [ ]:
temp.head()

   Total_Sqft  OverallQual Neighborhood BsmtQual  MSSubClass
0      2566.0            7      CollgCr       Gd          60
1      2524.0            6      Veenker       Gd          20
2      2706.0            7      CollgCr       Gd          60
3      2473.0            7      Crawfor       TA          70
4      3343.0            8      NoRidge       Gd          60

# Filling Nulls

In [ ]:
temp['Total_Sqft'] = temp['Total_Sqft'].fillna(temp['Total_Sqft'].median())

In [ ]:
temp['BsmtQual'] = temp['BsmtQual'].fillna(value='No Basement')

In [ ]:
temp.isnull().sum()

Total_Sqft      0
OverallQual     0
Neighborhood    0
BsmtQual        0
MSSubClass      0
dtype: int64

# This particular feature was miscategorized

In [ ]:
temp['MSSubClass'] = temp['MSSubClass'].astype(str)

# Simplifying MSSubClass

In [ ]:
temp['MSSubClass'] = temp['MSSubClass'].map(lambda x: '1-STORY' if x=='20' or x=='30' or x=='40' else '1-1/2 STORY' if x=='45' or x=='50' \
                            else '2-STORY' if x=='60' or x=='70' else 'PUD' if x=='120' or x=='150' or x=='160' or x=='180' else 'Other')

In [ ]:
temp['MSSubClass'].value_counts()

1-STORY        1224
2-STORY         701
Other           359
PUD             328
1-1/2 STORY     305
Name: MSSubClass, dtype: int64

# Splitting Dataset back into original rows

In [ ]:
train = temp.iloc[:1458]
train.shape

(1458, 5)

In [ ]:
test = temp.iloc[1458:]
test.shape

(1459, 5)

#Train Test Split

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(train, y, test_size=0.20, random_state=0)

# Defining Categoricals for Catboost

In [ ]:
categoricals = ['Neighborhood', 'BsmtQual', 'MSSubClass']

# Checking Over/Under fitting

In [ ]:
# def automation_rmse(model, x, y, xtest, ytest):
#     model.fit(x, y)
#     pred = model.predict(xtest)
#     return np.sqrt(mean_squared_error(pred, ytest))

In [ ]:
# automation_rmse(CatBoostRegressor(cat_features=categoricals, verbose=False, task_type="GPU")\
#     , xtrain, ytrain, xtest, ytest)

In [ ]:
# automation_rmse(CatBoostRegressor(cat_features=categoricals, verbose=False, task_type='GPU')\
#     , xtest, ytest, xtrain, ytrain)

# Pickling

In [ ]:
model =CatBoostRegressor(cat_features=categoricals, verbose=False, task_type="GPU")

In [ ]:
model_fit =model.fit(train, y)

In [ ]:
import pickle

In [ ]:
with open('/content/drive/MyDrive/Data Science Magic/Projects/Web Application/model_fit.pickle', 'wb') as f:
     pickle.dump(model_fit, f)